* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Corben', cursive;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 100%;
    z-index: 1;

    .bar {
        background-color: transparent;
        transition: .2s linear;
    }

    .row {
        padding: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border-bottom: 1px solid rgb(63, 63, 63);


        .col-4 {
            p {
                a {
                    font-size: 24px;
                    color: whitesmoke;
                    transition: .2s linear;
                }

                a:hover {
                    cursor: pointer;
                    color: gray;

                }
            }


        }


        .col-1 {
            border-left: 1px solid rgb(63, 63, 63);
            cursor: pointer;

            a {
                color: whitesmoke;
                transition: .2s linear;
            }

            a:hover {
                color: orange;
            }

        }





    }

    .col-12 {
        display: none;

        .menu {
            position: relative;

            .box {
                position: absolute;
                top: 0;
                right: 30px;

                .lineone {
                    top: 0;
                    position: absolute;
                    content: "";
                    display: inline-block;
                    height: 3px;
                    width: 30px;
                    background-color: whitesmoke;
                    transition: .1s linear;
                }

                .linetwo {
                    position: absolute;
                    content: "";
                    display: inline-block;
                    height: 3px;
                    width: 30px;
                    background-color: whitesmoke;
                    top: 10px;
                    transition: .1s linear;
                }

                .linethree {
                    position: absolute;
                    content: "";
                    display: inline-block;
                    height: 3px;
                    width: 30px;
                    background-color: whitesmoke;
                    top: 20px;
                }
            }


        }
    }
}

header {
    width: 100%;
    height: 100%;
    position: relative;

    .togglemenu {
        background-color: rgba(0, 0, 0, 0.596);
        position: absolute;
        opacity: 0;
        width: 20%;
        right: 0;
        top: 60px;
        position: fixed;
        transition: .3s linear;
        z-index: 2;
        box-shadow: 0px 0px 3px 6px;
        border: 1px solid whitesmoke;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        ul {
            li {
                list-style: none;
                padding: 25px;
                text-align: center;

                a {
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 18px;
                    transition: .2s linear;
                }

            }


            li:hover a {
                color: orange;
            }
        }
    }

    .banner {

        width: 100%;
        height: 100vh;
        background-image: url("../image/bannerimage.jpg");
        background-position: center;
        color: white;



        .row {
            position: relative;
            flex-direction: column;
            justify-content: end;
            width: 100%;
            height: 100%;

            .type {
                letter-spacing: 10px;
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: 10%;

                p:first-child {
                    font-size: 22px;
                }

                .name {
                    font-size: 60px;
                    padding-bottom: 15px;
                }

                .btns {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;

                    .btn {
                        border-radius: 50px;
                        background-color: rgba(128, 128, 128, 0.288);
                        color: white;
                        border: none;
                        width: 150px;
                        padding: 8px;
                    }
                }

            }

            .foot {
                width: 100%;
                height: 10%;
                bottom: 0;
                position: absolute;



                .icons {
                    text-align: right;
                    letter-spacing: 2px;
                    padding-right: 20px;
                    font-size: 20px;

                    i {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        cursor: pointer;
                        transition: .2s linear;
                    }

                    i:hover {
                        color: orange;
                        transform: scale(1.2);
                    }

                }
            }
        }
    }
}

main {

    .About {
        padding: 100px 0px 50px 0;
        background: linear-gradient(130deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8855917366946778) 22%, rgba(0, 0, 0, 1) 100%);

        .container {

            .row {
                flex-direction: row;

                .col-5 {
                    .image {
                        transition: transform .5s linear;
                        height: 600px;

                        img {
                            object-fit: cover;
                            box-shadow: 2px 2px 15px 0px rgb(213, 223, 214);
                            width: 90%;
                            height: 100%;
                            border-radius: 20px;

                        }
                    }

                    .image:hover {
                        transform: translate3d(5px, -3px, 0);
                    }
                }



                .col-7 {
                    .info {
                        color: white;
                        line-height: 20px;

                        .name {
                            font-size: 50px;
                            padding: 30px 0;
                        }

                        .position {
                            font-size: 22px;

                            padding: 30px 0;

                            span {
                                color: rgb(223, 180, 143);
                            }
                        }

                        .about {
                            font-size: 18px;
                            color: gray;
                            padding: 25px 0;
                            line-height: 30px;
                        }

                        .btndownload {
                            width: 150px;
                            height: 55px;
                            background-color: rgb(0, 0, 0);
                            border: none;
                            color: white;
                            font-size: 16px;
                            position: relative;
                            border-radius: 5px;
                            box-shadow: 0px 0px 10px -3px #d5dfd6;

                            transition: .5s linear;



                            .blank {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                background-color: rgba(0, 0, 0, 0.644);
                                top: 0;
                                transition: .5s linear;

                                border-radius: 5px;

                            }

                        }

                        .btndownload:hover {
                            cursor: pointer;
                            box-shadow: 0 0 10px 1px #d5dfd6;


                        }

                        .btndownload:hover .blank {
                            background-color: rgb(0, 0, 0);
                            width: 0;
                        }

                        .infoL {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            padding: 10px;
                            color: gray;
                            font-size: 18px;

                            p {

                                width: 45%;
                            }

                            p:first-child {
                                border-right: 1px solid gray;
                                color: white;
                            }
                        }



                    }
                }
            }


        }
    }

    .myservice {

        background-color: #1C1D24;
        width: 100%;
        padding: 100px 0 50px 0;

        .container {
            text-align: center;

            .myserviceheader {
                h2 {
                    color: whitesmoke;
                    font-size: 42px;
                    padding: 10px;
                }
            }

            .myservicedescription {
                h4 {
                    color: white;
                    display: inline-block;
                    width: 60%;
                    padding: 20px;
                    font-size: 18px;
                }


            }

            .cards {

                .row {

                    .col-4 {

                        .card {
                            text-align: left;
                            width: 100%;
                            background-color: transparent;
                            border: 1px solid whitesmoke;
                            border-radius: 10px;


                            .card-content {

                                padding: 30px 20px;

                                .card-image {
                                    font-size: 40px;
                                    color: #8b0404;
                                    padding: 0 10px;
                                }



                                .card-desc {
                                    padding: 10px;
                                    position: relative;
                                    transition: .3s linear;


                                    .card-desc-head {
                                        color: whitesmoke;
                                        padding: 10px 0;
                                        font-size: 24px;
                                        transition: .2s linear;
                                    }

                                    .card-desc-foot {
                                        line-height: 30px;
                                        color: #878E99;
                                        padding: 10px 0;
                                        font-size: 18px;
                                        transition: .2s linear;
                                    }
                                }
                            }

                        }



                        .card:hover .card-image {

                            transform: rotateX(360deg);
                            transition: transform .9s linear;
                            color: #af0303;
                        }

                        .card:hover .card-content .card-desc .card-desc-head {
                            color: rgb(216, 216, 0);
                        }

                        .card:hover .card-content .card-desc .card-desc-foot {
                            color: whitesmoke
                        }

                        .card:hover .card-content .card-desc {
                            transform: scale(1.1);
                        }

                    }

                }
            }



        }

        .progress {
            background-color: #131416;

            .container {
                .progressContent {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;
                    padding: 100px 0;

                    .firstelement {
                        background-color: #af723d;

                        .year {
                            background-color: black !important;

                        }

                    }

                    .secondelement {
                        background-color: #1C1D24;



                    }

                    .threeelement {
                        background-color: #1C1D24;

                        .value {
                            padding: 12px 0;

                            font-size: 18px;

                            .valueone {
                                display: inline-block;
                                width: 92%;
                                height: 10px;
                                border-radius: 5px;
                                background-color: #af723d;

                            }


                            .valuetwo {
                                display: inline-block;
                                width: 75%;
                                height: 10px;
                                border-radius: 5px;
                                background-color: #af723d;
                            }


                            .valuethree {
                                display: inline-block;
                                width: 86%;
                                height: 10px;
                                border-radius: 5px;
                                background-color: #af723d;
                            }

                            .valuefour {
                                display: inline-block;
                                width: 82%;
                                height: 10px;
                                border-radius: 5px;
                                background-color: #af723d;
                            }


                            .valuefive {
                                display: inline-block;
                                width: 92%;
                                height: 10px;
                                border-radius: 5px;
                                background-color: #af723d;
                            }


                        }

                    }

                    .progressCard {
                        color: whitesmoke;
                        padding: 10px;
                        margin: 0 10px;
                        box-shadow: 0px 0px 1px 0px;

                        .progressHead {
                            font-size: 22px;
                            padding: 10px;
                            border-radius: 20px;

                            h3 {
                                text-align: left;
                                padding: 5px 0;
                            }

                            .afterelement {
                                content: "";
                                width: 35px;
                                height: 3px;
                                background-color: whitesmoke;

                            }
                        }

                        .progressCardContent {
                            display: flex;
                            flex-direction: column;
                            text-align: left;
                            padding: 15px;



                            .same {
                                border-bottom: 1px dotted white;
                                padding: 10px 0;

                                .year {
                                    background-color: #af723d;
                                    border-radius: 20px;
                                    width: 100px;
                                    padding: 2px;
                                    text-align: center;
                                    display: inline-block;
                                    font-size: 14px;
                                }

                                .position {
                                    padding: 15px 0;
                                    font-size: 18px;
                                    display: inline-block;
                                }

                                .desc {
                                    display: inline-block;
                                    font-size: 16px;
                                }
                            }

                            .three {
                                border-bottom: none;
                            }

                        }
                    }
                }
            }
        }















    }

    .myportfolio {
        background-color: #1C1D24;
        color: white;
        padding: 100px 0px 50px 0px;

        .portfolioheader {
            .pHeader {
                text-align: center;
                font-size: 52px;
                padding: 25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            // .pHeader::after {
            //     content: "";
            //     width: 50px;
            //     height: 3px;
            //     background-color: yellow;
            //     display: flex;

            // }

        }

        .portfoliodesc {
            text-align: center;
            width: 45%;
            padding: 15px;
            margin: 0 auto;
        }

        .portfoliomenu {

            display: flex;
            flex-direction: row;
            justify-content: center;

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                li {
                    padding: 15px;

                    a {
                        color: white;
                        transition: .2s;
                    }

                    .portfolioblank {
                        content: "";
                        display: inline-block;
                        width: 0;
                        height: 2px;
                        background-color: orange;
                        position: relative;
                        bottom: 10px;
                    }

                    .show {
                        width: 100%;
                    }

                    a:hover {
                        color: orange;
                    }
                }
            }
        }

        .portfoliocards {


            .container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .col-4 {
                    .portfoliocard {
                        background-color: #131416;
                        padding: 20px;

                        .portfoliocardheader {
                            padding: 10px 0;

                            .head {
                                display: block;
                                padding-bottom: 5px;
                                font-size: 26px;
                                transition: .3s linear;
                            }

                            .desc {
                                display: block;
                                font-size: 16px;
                                color: gray;
                                padding-bottom: 10px;
                            }
                        }

                        .portfoliocardimage {
                            height: 100%;
                            overflow: hidden;
                            position: relative;

                            border-radius: 20px;

                            img {
                                width: 100%;
                                height: 100%;
                                transition: .3s linear;
                                border-radius: 20px;
                            }

                            .blank {
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 100%;
                                top: 0;
                                background-color: rgba(124, 116, 0, 0.541);
                                transition: .3s linear;
                                opacity: 0;
                            }
                        }
                    }

                    .portfoliocard:hover .portfoliocardheader .head {
                        color: orange;
                    }

                    .portfoliocard:hover .portfoliocardimage img {
                        transform: scale(1.1);
                    }

                    .portfoliocard:hover .portfoliocardimage .blank {
                        opacity: .5;
                    }
                }
            }
        }


    }

    .sliderframe {
        background-color: #131416;
        width: 100%;
        position: relative;


        .container {
            display: flex;
            align-items: center;
            position: relative;
            height: 400px;
            overflow: hidden;

            .slider {
                position: absolute;
                width: 2294px;
                left: 0;
                animation: slidermove 16s infinite;

                .slidercard {
                    width: 25%;
                    float: left;
                    color: white;
                    padding: 0 50px;

                    .sliderimage {
                        width: 125px;
                        height: 125px;

                        img {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: top;
                        }

                        .blank {
                            content: "";
                            width: 125px;
                            height: 125px;
                            border: 1px solid orange;
                            border-bottom: none;
                            border-right: none;
                            position: absolute;
                            bottom: 25px;

                        }

                        .blankone {
                            left: 45px;
                        }

                        .blanktwo {
                            left: 620px;
                        }

                        .blankthree {
                            left: 1193px;
                        }
                    }

                    .slidercontent {


                        .comment {
                            display: block;
                            color: gray;
                            font-size: 14px;
                        }

                        .commentername {
                            display: block;
                            padding: 5px 0;
                            font-size: 16px;

                        }

                    }
                }
            }

            @keyframes slidermove {
                0% {
                    transform: translateX(0px);
                }

                50% {
                    transform: translateX(-573px);
                }

                100% {
                    transform: translateX(0px);
                }


            }
        }
    }

    .recentarticles {
        background-color: #1C1D24;
        color: whitesmoke;
        padding: 100px 0 50px 0;

        .container {


            .articlestype {

                .articleshead {
                    font-size: 42px;
                    text-align: center;
                    font-weight: bold;
                }

                .articlesdesc {
                    width: 60%;
                    text-align: center;
                    margin: 0 auto;
                    padding: 20px 0;
                    color: gray;
                }

            }

            .articlescards {
                padding: 50px 0;

                .articlescard {

                    .articlescardimage {
                        width: 100%;
                        overflow: hidden;
                        position: relative;

                        img {
                            width: 100%;
                            transition: .2s linear;
                        }

                        .calendar {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            width: 70px;
                            height: 55px;
                            background-color: whitesmoke;
                            color: black;
                            text-align: center;
                            padding-top: 5px;

                            .calendarDD {
                                font-size: 18px;
                            }

                            // .calendarMM {}
                        }
                    }

                    .articlescarddesc {
                        width: 95%;
                        margin: 0 auto;
                        position: relative;
                        top: -20px;
                        padding: 15px;
                        font-size: 16px;
                        background-color: #131416;

                        .articlescardsdeschead {
                            font-size: 15px;
                            transition: .4s linear;
                        }

                        .articlescardsdeschead:hover {
                            color: orange;
                        }

                        .articlescarddescbody {
                            color: gray;
                            padding: 15px 0;
                            font-size: 16px;
                            white-space: nowrap;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .articlebtn {
                            border: none;
                            background-color: transparent;
                            color: whitesmoke;
                            cursor: pointer;
                            transition: .4s linear;
                        }

                        .articlebtn:hover {
                            color: orange;
                        }
                    }
                }

                .articlescard:hover .articlescardimage img {
                    transform: scale(1.1);
                }

            }
        }
    }

    .contact {
        padding: 100px 0px 100px 0px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8855917366946778) 35%, rgba(0, 0, 0, 1) 100%);

        .contactelements {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .contactleft {
                padding: 30px;
                background-color: #1C1D24;
                box-shadow: -3px 3px 5px 1px #1a1b20;

                form {
                    .formhead {
                        p {
                            color: whitesmoke;
                            font-size: 24px;
                            font-weight: bold;
                            padding: 15px 0;
                        }
                    }

                    .inputelements {
                        display: flex;
                        flex-direction: column;
                        row-gap: 30px;
                        padding: 25px 0;

                        ::-ms-input-placeholder {
                            color: whitesmoke;
                        }

                        :-ms-input-placeholder {
                            color: whitesmoke;
                        }

                        ::placeholder {
                            color: whitesmoke;
                        }

                        input {
                            display: inline-block;
                            padding: 15px;
                            background-color: #131416;
                            border: none;
                        }

                        input:focus {
                            outline: none !important;
                            border: 1px solid orange;
                        }

                        .inputsNE {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            .input {
                                width: 48%;
                            }

                        }

                        .input {

                            color: whitesmoke;
                            width: 100%;
                        }

                        .textarea {
                            padding: 15px;
                            background-color: #131416;
                            height: 100px;
                            resize: none;
                            color: whitesmoke;
                        }

                        .textarea:focus {
                            outline: none !important;
                            border: 1px solid orange;
                        }

                        .btn {
                            display: inline-block;
                            width: 40%;
                            height: 50px;
                            background-color: #DC965A;
                            font-size: 16px;
                            border: none;
                        }

                    }
                }
            }

            .contactright {}
        }
    }

}

footer {
    .wrapper {
        background-color: #1C1D24;
        .container {
            .wrap {
                color: white;
                .links {
                    i {
                        padding: 0 10px;
                    }
                    i:hover{
                        color: orange;
                        transition: .3s;
                        cursor: pointer;
                    }
                }
                .copyright {
                    text-align: right;
                }
            }
        }
    }
}

.toUp {
    .up {
        display: inline-block;
        width: 45px;
        height: 45px;
        background: #e0e0e0;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border-radius: 5%;
        opacity: 0;
        transition: .5s linear;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        z-index: -200;

        i {
            position: absolute;
            width: 100%;
        }

        .chevron-one {
            top: -2px;
            animation: colorChange 3s infinite;
            animation-delay: .4s;
        }

        .chevron-two {
            top: 8px;
            animation: colorChange 3s infinite;
            animation-delay: .2s;
        }

        .chevron-three {
            top: 18px;
            animation: colorChange 3s infinite;
        }

        @keyframes colorChange {
            0% {
                color: #b97206;
            }

            25% {
                color: #dab57f;
            }

            50% {
                color: #dba048;
            }

            100% {
                color: #c09555;
            }
        }
    }

    .up:hover {
        cursor: pointer;
        background-color: #f8dfb8;
    }
}

@media only screen and (max-width:1200px) {
    .navbar {
        font-size: 16px;
    }

    .navbar .row .col-1 {
        padding: 15px 0;
    }

    header .togglemenu {
        display: none;
    }

    main .About .container .row .col-7 .info .infodetail .detailrow .col-6 {
        padding: 10px 0;
    }

    main .About .container .row .col-7 .info .infoL {
        padding: 10px 0;
        justify-content: space-evenly;

    }

    main .About .container .row .col-5 .image img {
        width: 100%;
    }





    main .sliderframe .container .slider .slidercard {
        width: 23%;
    }

    main .sliderframe .container .slider .slidercard .sliderimage .blanktwo {
        left: 573px;
    }


    main .sliderframe .container .slider .slidercard .sliderimage .blankthree {
        left: 1100px;
    }

    main .sliderframe{
        display: none;
    }
}

@media only screen and (max-width:992px) {

    .navbar .row .col-1,
    .navbar .row .col-4 {
        display: none;
    }

    .navbar .row {
        border: none;
        flex-direction: row;
        align-items: flex-end;
    }

    .navbar .col-12 {
        display: inline-block;
    }

    .navbar .row .menu {
        display: flex;
        padding: 10px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: right;
        width: 100%;
        height: 100%;
    }









    header .banner .row .foot .icons {
        font-size: 18px;
    }

    header .bannerhead .banner .row .type p:first-child {
        font-size: 22px;
    }

    header .banner .row .type .name {
        font-size: 40px;
    }

    header .banner .row .type .btn {
        font-size: 12px;
        border-radius: 50px;
        width: 100px;
    }










    main .About .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    main .About .container .row .image {
        height: 400px !important;
    }

    main .About .detailrow {
        flex-direction: row;
    }

    main .About .container .row .info .name {
        font-size: 40px;
    }

    main .About .container .row .info .position {
        font-size: 20px;
    }

    main .About .row .col-5 {
        width: 100%;
    }

    main .About .row .col-7 {
        width: 100%;
    }

    main .myservice .container .cards .row .col-4 .card .card-content {
        padding: 10px 15px;
    }

    main .myservice .container .cards .row .col-4 .card .card-content .card-desc .card-desc-foot {
        line-height: 25px;
    }




    main .myservice .progress .container .progressContent .col-4 {
        width: 100%;

        margin: 10px 0;
    }

    main .myservice .progress .container .progressContent {
        flex-wrap: wrap;
    }

    main .myportfolio .portfoliocards .container .col-4 .portfoliocard .portfoliocardheader .head {
        font-size: 25px;
    }


   


    footer .wrapper .container .wrap .col-6 {
        width: 100%;
    }
    footer .wrapper .container .wrap .links {
        text-align: center;
    }
    footer .wrapper .container .wrap .copyright {
        text-align: center;
    }




}

@media only screen and (max-width:768px) {
    header .banner .row .type {
        bottom: 15%;
    }


    header .banner .row .foot .icons {
        font-size: 18px;
    }

    header .bannerhead .banner .row .type p:first-child {
        font-size: 22px;
    }

    header .banner .row .type .name {
        font-size: 40px;
    }

    header .banner .row .type .btn {
        font-size: 12px;
        border-radius: 50px;
        width: 100px;
    }


    header .togglemenu ul li {
        padding: 20px;
    }

    main .About .container .row .col-7 .info .about,
    main .About .container .row .col-7 .info .infoL {
        font-size: 16px;
    }

    main .About .container .row .col-7 .info .position {
        font-size: 20px;
    }

    main .About .container .row .col-7 .info .name {
        font-size: 48px;
    }

    main .myservice .container .cards .row .col-4 {
        width: 50%;
    }

    main .myservice .container .myservicedescription h4 {
        display: none;
    }

    main .myportfolio .portfoliocards .container .col-4 {
        width: 50%;
    }

    main .myportfolio .portfoliodesc {
        width: 100%;
    }




    main .sliderframe .container .slider {
        animation-play-state: paused;
    }


    main .sliderframe .container .slider .slidercardtwo {
        display: none;
    }

    main .sliderframe .container .slider .slidercard .sliderimage .blanktwo {
        display: none;
    }

    main .sliderframe .container .slider .slidercardthree {
        display: none;
    }

    main .sliderframe .container .slider .slidercard .sliderimage .blankthree {
        display: none;
    }

    main .recentarticles .articlescards .articlescard {
        width: 100%;
    }

    main .contact .contactelements .contactleft,
    main .contact .contactelements .contactright{
        width: 100%;
    }

}

@media only screen and (max-width:576px) {
    header .banner .row .type p:first-child {
        display: none;
    }

    header .banner .row .type .btns .btn {
        margin: 5px;
    }

    header .banner .row {
        justify-content: flex-start;
    }

    header .togglemenu {
        width: 25%;
    }

    header .togglemenu ul li {
        padding: 15px;
    }

    header .togglemenu ul li a {
        font-size: 16px;
    }

    main .About .container .row {
        flex-direction: column;
    }

    main .About .container .row .col-7 .info .infoL {
        justify-content: space-around;
    }

    main .About .detailrow .col-6 {
        width: 100%;
    }

    main .myservice .container .cards .row .col-4 {
        width: 100%;
    }

    main .myportfolio .portfoliocards .container .col-4 {
        width: 100%;
    }

    main .myportfolio .portfoliomenu ul {
        flex-wrap: wrap;
        justify-content: center;

    }

    main .myportfolio .portfoliomenu ul li {
        padding: 5px 15px;
    }


}

@media only screen and (max-width:370px) {
    header .banner .row .type .name {
        font-size: 25px;
    }

    header .togglemenu {
        width: 30%;
    }

    header .togglemenu ul li {
        padding: 10px;
    }


    main .About .container .row .col-7 .info .name {
        font-size: 38px;
    }

    main .About .container .row .col-7 .info .position {
        font-size: 18px;
    }

    main .About .container .row .col-7 .info .infoL {
        justify-content: space-evenly;
        font-size: 14px;
    }

    header .togglemenu ul li a {
        font-size: 15px;
    }


    main .myservice .progress .container .progressContent .progressCard .progressCardContent .same .position {
        font-size: 18px;
    }

    main .myservice .progress .container .progressContent .progressCard .progressCardContent .same .desc {
        font-size: 16px;
    }

    main .myservice .progress .container .progressContent .progressCard .progressHead h3 {
        font-size: 22px;
    }
}